<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.admin.dao.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="org.admin.model.SysRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="descp" property="descp" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="dr" property="dr" jdbcType="INTEGER" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
    <association column="create_user" property="sysUser" javaType="org.admin.model.SysUser" select="queryBySysUser"/>
  </resultMap>
  <resultMap id="SysUserResultMap" type="org.admin.model.SysUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="headimg" property="headimg" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="dr" property="dr" jdbcType="INTEGER" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, icon, descp, create_time, create_user, dr, ts
  </sql>
  <select id="queryBySysUser" resultMap="SysUserResultMap" parameterType="java.lang.Integer" >
    SELECT *
    FROM sys_user
    WHERE id = #{id}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getCount" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select COUNT(*)
    from sys_role
    where 1=1
    <if test="q!=null and q!=''">
      AND name LIKE '%${q}%'
    </if>
  </select>
  <select id="query" resultMap="BaseResultMap" parameterType="Map" >
    select *
    from sys_role
    where 1=1
    <if test="id!=null">
      AND id = #{id}
    </if>
    <if test="q!=null and q!=''">
      AND name LIKE '%${q}%'
    </if>
    <if test="id!=null">
      AND id=#{id}
    </if>
    <if test="name!=null">
      AND name LIKE  '%${name}%'
    </if>
    <if test="icon!=null">
      AND icon=#{icon}
    </if>
    <if test="descp!=null">
      AND descp LIKE '%${descp}%'
    </if>
    <if test="dr!=null">
      AND dr=#{dr}
    </if>
    <if test="createUser!=null">
      AND create_user=#{createUser}
    </if>
    <if test="cBeginTime!=null and cBeginTime!=''">
      AND create_time >= #{cBeginTime}
    </if>
    <if test="cEndTime!=null and cEndTime!=''">
      AND create_time<![CDATA[<=]]>#{cEndTime}
    </if>
    <if test="tBeginTime!=null and tBeginTime!=''">
      AND ts >= #{tBeginTime}
    </if>
    <if test="tEndTime!=null and tEndTime!=''">
      AND ts <![CDATA[<=]]> {tEndTime}
    </if>
    ORDER BY
    <if test="field==3">
      create_time
    </if>
    <if test="field==5">
      ts
    </if>
    <if test="order==1">
      DESC
    </if>
    <if test="order==0">
      ASC
    </if>
    <if test="page!=null and rows!=null">
      limit #{page},#{rows}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from sys_role
    where id IN
    <foreach collection="ids" open="(" close=")" separator="," index="" item="id">
      #{id}
    </foreach>
  </delete>
  <insert id="insert" parameterType="org.admin.model.SysRole" >
    insert into sys_role (id, name, icon, 
      descp, create_time, create_user,
      dr, ts)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, 
      #{descp,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=INTEGER},
      #{dr,jdbcType=INTEGER}, #{ts,jdbcType=TIMESTAMP})
  </insert>
  <insert id="saveAuthos">
    insert into sys_role_autho (role_id,autho_id)
    values
    <foreach collection="ids" item="id" index="" separator=",">
      ( #{roleId},#{id})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="org.admin.model.SysRole" >
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="descp != null" >
        descp,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="dr != null" >
        dr,
      </if>
      <if test="ts != null" >
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="descp != null" >
        #{descp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="dr != null" >
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.admin.model.SysRole" >
    update sys_role
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="descp != null" >
        descp = #{descp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="dr != null" >
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="ts != null" >
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.admin.model.SysRole" >
    update sys_role
    set name = #{name,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      descp = #{descp,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      dr = #{dr,jdbcType=INTEGER},
      ts = #{ts,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateDr">
    update sys_role
    set
      dr = #{dr,jdbcType=INTEGER},
      ts = #{ts,jdbcType=TIMESTAMP}
    where id IN
    <foreach collection="ids" item="id" index="" separator="," close=")" open="(">
      #{id}
    </foreach>
  </update>
  <update id="modify" parameterType="org.admin.model.SysRole" >
    update sys_role
    set name = #{name,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      descp = #{descp,jdbcType=VARCHAR},
      ts = #{ts,jdbcType=TIMESTAMP},
      dr = #{dr}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateDrV2" parameterType="org.admin.model.SysRole" >
    update sys_role
    set
      ts = #{ts,jdbcType=TIMESTAMP},
      dr = #{dr}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>